<div class="row">
    <div class="col-xs-12">
        <h2>Profiles</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Bio</th>
                <th colspan="2"></th>
            </tr>
            </thead>

            <tbody>
            <% @profiles.each do |profile| %>
                <tr>
                    <td><%= profile.name %></td>
                    <td><%= profile.bio.truncate(200) %></td>
                    <td><%= link_to 'View', [profile.user, profile] %></td>
                    <td><%= link_to 'Delete', [profile.user, profile], method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
