<div class="row">
    <p>
        <strong>Name:</strong>
        <%= @profile.name %>
    </p>

    <p>
        <strong>Bio:</strong>
        <%= @profile.bio %>
    </p>

    <%= link_to 'Edit', edit_user_profile_path(current_user, @profile) %> |
    <%= link_to 'Destroy', [current_user, @profile], method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
